:root {
    --red: #e50914;
    --black: #221f1f;
    --white: #f5f5f1;
    --grey: #3a3434;
}

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
}

small a:hover{
    text-decoration: underline;
}

nav {
    background-color: var(--grey);
}

.nav-link {
    color: #bbb;
    position: relative;
}

.nav-link::before {
    content: "";
    background-color: var(--red);
    position: absolute;
    left: 50%;
    right: 50%;
    top: 100%;
    height: 2px;
    transition: .6s;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:hover:not(.dropdown-toggle)::before {
    left: -10%;
    right: -10%;
}

.dropdown-menu {
    background-color: var(--grey);
}

.dropdown-item{
    color: var(--white);
}

.dropdown-item:hover{
    border-bottom: 1px solid var(--red);
}

footer {
    min-height: 150px;
    background-color: var(--grey);
    font-size: 0.8rem;
}

.soc-med a {
    font-size: 1.3rem;
    color: #bbb;
}

.soc-med a:hover,
.footer-links a,
.footer-links span {
    color: #fff;
}

.footer-links a:hover {
    text-decoration: underline !important;
}

.input-group-text {
    width: 33%;
    background-color: var(--grey);
    color: #bbb;
    border: none;
}

.input-group input {
    width: 67%;
    background-color: var(--grey);
    color: #fff;
    border: none;
}

.btn,
.btn:hover {
    border: none;
}

.btn-primary,
.btn-primary:hover {
    background-color: var(--red);
}

.my-button:not(:disabled):not(:disabled):active{
    background-color: var(--red);
}

.carousel-item{
    height: 500px;
}

.my-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to right, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 67%);

    display: flex;
    align-items: center;
}

.carousel-item img{
    position: relative;
    z-index: -1;
}

.my-info{
    width: 40%;
    margin-left: 7em;
}